body {
  padding-top: 5rem;
  background: #e5e5e5;
}

.container {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
}

.map {
  position: relative;
  width: 90%;
}

.mapImage {
  display: block;
  width: 100%;
  height: auto;
  opacity: 25%;
}

.location {
  position: absolute;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  display: inline-block;
  animation: blinkingBackground 1s infinite;
  border: 1px solid black;
}

.locationLarge {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid black;
}

@keyframes blinkingBackground{
  0%
  { 
    opacity: 25%;
  }

  50% 
  { 
    opacity: 100%;
  }

  100% 
  { 
    opacity: 25%;
  }
}

.location-upto24 {
  background-color: white;
}

.location-upto49 {
  background-color: green;
}

.location-upto74 {
  background-color: blue;
}

.location-upto99 {
  background-color: purple;
}

.location-upto124 {
  background-color: yellow;
}

.location-over125 {
  background-color: red;
}
